*, *:before, *:after {
  -webkit-box-siging: border-box;
     -moz-box-siging: border-box;
      -ms-box-siging: border-box;
          box-siging: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #DFEBD9;
  background: #E8EFF1;
  background-size: 100%;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
}

div {
  width: 50px;
  height: 50px;
}

.search-container {
  width: 100%;
  height: 5%;
  position: relative;
}

.search {
  z-index: 10;
  margin: 0 auto;
  margin-top: 0;
  padding: 12px;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background: white;
  color: #555;
  font-size: 16px;

  box-shadow: 0 3px 10px 0 rgba(50,50,50,0.2);
  transition: 0.2s;
}

.search:focus {
  box-shadow: 0 3px 10px 0 rgba(50,50,50,0.2), inset 0 3px 5px 0 rgba(50,50,50,0.2);
}

.paint-container {
  position:relative;
  width:100%;
  height:95%;
}

.sol {
  position: absolute;
  background: #FCB040;
  top: 5%;
  left: 4%;
  width: 75px;
  height: 75px;
  border-radius: 50%;

  box-shadow: 0 3px 7px 0 rgba(0,0,0,.3);
}

.nuvem {
  z-index: 0;
  position: absolute;
  top: 5%;
  left: -10%;
  background: white;
  width: 90px;
  height: 30px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);
  opacity: 0.85;

  -webkit-animation: nuvem 30s linear 0s infinite alternate;
          animation: nuvem 30s linear 0s infinite alternate;
}

.nuvem::after {
  content: '';
  position: absolute;
  top: -17px;
  right: 20px;
  color: white;
  background: white;
  width: 50px;
  height: 45px;
  border-radius: 50%;
}

.nuvem2 {
  top: 12%;
  -webkit-animation: nuvem 60s linear 1s infinite alternate;
          animation: nuvem 60s linear 1s infinite alternate;
}

.nuvem3 {
  top: 15%;
  left: 110%;
  -webkit-animation: nuvemright 45s linear .3s infinite alternate;
          animation: nuvemright 45s linear .3s infinite alternate;
}

.lollipop-container {
  z-index: -1;
  position: absolute;
  bottom: 40%;
  right: 10%;
  width: 75px;
}

.lollipop-container.left {
  bottom: 38%;
  right: 20%;
}

.lollipop {
  z-index: 0;
  margin: 0 auto;
  width: 75px;
  height: 75px;
  line-height: 72px;
  text-align: center;
  color: white;
  background: #F16192;
  font-weight: bold;
  border-radius: 50%;

  box-shadow: 0 0 7px 1px rgba(0,0,0,.3);
  -webkit-animation: lollipop 5s linear 0s infinite;
          animation: lollipop 5s linear 0s infinite;
}

.lollipop.left {
  background: #9C27B0;

  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
          animation-duration: 4s;
}

.palito {
  margin: 0 auto;
  z-index: -5;
  background: white;
  background: linear-gradient(to right, #fff, #eee 50%);
  width: 10px;
  height: 100px;

  box-shadow: 0 3px 7px 0 rgba(0,0,0,.3);
}

.chao {
  z-index: 1;
  position: absolute;
  background: #7DC0A1;
  width: 100%;
  height: 30%;
  bottom: 0;
}

.android {
  z-index: 1;
  position: relative;
  top: -280px;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  height: 375px;
  /*border: 1px solid red;*/
  transition: .3s;
}

.android:hover .braco2 {
  -webkit-transform: rotate(-130deg);
          transform: rotate(-130deg);
}

.android.tchau .braco2 {
  -webkit-animation: tchau 0.75s linear 0s 2 alternate;
          animation: tchau 0.75s linear 0s 2 alternate;
}

.cabeca {
  position: relative;
  background: linear-gradient(to bottom, #88c8ca 50%, transparent 50%);
  margin: 0 auto;
  width: 70%;
  height: 200px;
  border-radius: 50%;
  transition: .3s;
}

.antena1, .antena2 {
  z-index: -1;
  position: absolute;
  top: -20px;
  background: #88c8ca;
  width: 5px;
  border-radius: 20px;
}

.antena1 {
  left: 25%;
  transform: rotate(-25deg);
}

.antena2 {
  right: 25%;
  transform: rotate(25deg);
}

.olhos-container {
  position: relative;
  top: 20%;
  width: 50%;
  margin: 0 auto;
}

.olho1, .olho2 {
  background: white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  border-radius: 50%;
  transition: .3s;
}

.olho1 { left: 0; }
.olho2 { right: 0; }

.olho1.piscar, .olho2.piscar {
  -webkit-animation: piscar 0.1s linear 0s 2 alternate;
          animation: piscar 0.1s linear 0s 2 alternate;
}

.corpo-container {
  position: relative;
  clear: both;
  top: -92px;
  width: 100%;
}

.corpo {
  position: absolute;
  left: 15%;
  background: #88c8ca;
  width: 70%;
  height: 175px;

  border-radius: 2px 2px 25px 25px;
  transition: .3s;
}

.braco1, .braco2 {
  position: absolute;
  background: #88c8ca;
  margin-top: -5px;
  width: 12%;
  height: 115px;
  border-radius: 20px;

  transition: .3s ease;
  transform-origin: 15px 15px;
}

.braco1 { left: 0; }
.braco2 { right: 0; }

.pernas-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  clear: both;
}

.perna1, .perna2 {
  z-index: -1;
  background: #88c8ca;
  position: absolute;
  top: 0;
  width: 30%;
  height: 110px;
  border-radius: 20px;
  transition: .3s;
}

.perna1 { left: 5%; }
.perna2 { right:5%; }

@-webkit-keyframes piscar {
  100% {
    height: 1px;
    top: 10px;
  }
}

@keyframes piscar {
  100% {
    height: 1px;
    top: 10px;
  }
}

@-webkit-keyframes nuvem { 100% { left: 110%; } }
@keyframes nuvem { 100% { left: 110%; } }

@-webkit-keyframes nuvemright { 100% { left: -110%; } }
@keyframes nuvemright { 100% { left: -110%; } }

@-webkit-keyframes tchau {
  10% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  %60 {
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  80% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg); 
  }
  100% {
    -webkit-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
}

@keyframes tchau {
  10% {
    -webkit-transform: rotate(-130deg);
       -moz-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
  %60 {
    -webkit-transform: rotate(-140deg);
       -moz-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  80% {
    -webkit-transform: rotate(-120deg);
       -moz-transform: rotate(-120deg);
            transform: rotate(-120deg); 
  }
  100% {
    -webkit-transform: rotate(-130deg);
       -moz-transform: rotate(-130deg);
            transform: rotate(-130deg);
  }
}

@-webkit-keyframes lollipop {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lollipop {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }         
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .android {
    top: -230px;
    width: 200px;
    height: 275px;
  }

  .cabeca {
    height: 112px;
  }

  .olho1, .olho2 {
    width: 15px;
    height: 15px;
  }

  .corpo-container {
    top: -50px;
    width: 100%;
  }

  .corpo {
    left: 15%;
    width: 70%;
    height: 125px;
    border-radius: 2px 2px 25px 25px;
  }

  .braco1, .braco2 {
    margin-top: -5px;
    width: 12%;
    height: 85px;
  }

  .pernas-container {
    width: 50%;
  }

  .perna1, .perna2 {
    top: 0;
    width: 30%;
    height: 85px;
  }
}