*, *:before, *:after {
  -webkit-box-siging: border-box;
     -moz-box-siging: border-box;
      -ms-box-siging: border-box;
          box-siging: border-box;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fff, #ccc);
}

div {
  width: 50px;
  height: 50px;
}

.android {
  position: relative;
  top: 50px;
  margin: 0 auto;
  padding: 20px;
  width: 350px;
  height: 500px;
  text-align: center;
}

.android:hover .braco2 {
  transform: rotate(-130deg);
}

.cabeca {
  position: relative;
  background: linear-gradient(to bottom, #88c8ca 50%, transparent 50%);
  margin: 10px auto;
  width: 70%;
  height: 225px;
  border-radius: 50%;
}

.antena1, .antena2 {
  z-index: -1;
  position: absolute;
  background: #88c8ca;
  width: 5px;
  border-radius: 20px;
}

.antena1 {
  top: -20px;
  left: 25%;
  transform: rotate(-25deg);
}

.antena2 {
  top: -20px;
  right: 25%;
  transform: rotate(25deg);
}

.olhos-container {
  position: relative;
  top: 20%;
  width: 50%;
  margin: 0 auto;
}

.olho1, .olho2 {
  background: white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  border-radius: 50%;
}

.olho1 { left: 0; }
.olho2 { right: 0; }

.olho1.piscar, .olho2.piscar {
  -webkit-animation: piscar 0.1s linear 0s 2 alternate;
          animation: piscar 0.1s linear 0s 2 alternate;
}

.corpo-container {
  position: relative;
  clear: both;
  top: -112.5px;
  width: 100%;
}

.corpo {
  position: absolute;
  left: 15%;
  background: #88c8ca;
  width: 70%;
  height: 200px;

  border-radius: 2px 2px 25px 25px;
}

.braco1, .braco2 {
  position: absolute;
  background: #88c8ca;
  margin-top: -5px;
  width: 12%;
  height: 130px;
  border-radius: 20px;

  transition: .3s ease;
  transform-origin: 15px 15px;
}

.braco1 { left: 0; }
.braco2 { right: 0;}

.pernas-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  clear: both;
}

.perna1, .perna2 {
  z-index: -1;
  background: #88c8ca;
  position: absolute;
  top: 0;
  width: 30%;
  height: 120px;
  border-radius: 20px;
}

.perna1 { left: 5%; }
.perna2 { right:5%; }

@-webkit-keyframes piscar {
  100% {
    height: 1px;
    top: 10px;
  }
}

@keyframes piscar {
  100% {
    height: 1px;
    top: 10px;
  }
}